.sidebar {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar .logo {
    width: 2rem;
    height: 2rem;
}

.sidebar .new_tweet {
    background-color: var(--twitter-blue);
    border-radius: 999px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    color:#fff;
    font-size: 1.25rem;
    font-weight: 900;
    border: 0;
}

.sidebar .new_tweet svg {
    width: 1.rem;
    height: 1.5rem;
    display: none;
}

.sidebar .new_tweet:hover,.new_tweet_form button[type=submit]:hover  {
    filter: brightness(0.95);
} 
.main_navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main_navigation a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}
.main_navigation a.active{
    color: var(--twitter-blue);
}

.main_navigation a svg {
    width: 2rem;
    height: 2rem;
}

@media (max-width:790px) {
    .sidebar {
        padding: 1.5rem 0.75rem;
        align-items: center;
    }
    .main_navigation a span {
        display: none;
    }

    .sidebar .new_tweet span {
        display: none;
    }
    .sidebar .new_tweet svg {
        display: block;
    }
}